<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>附近</string>
		<key>firstDataArray</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>附近</string>
				<key>secondDataArray</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>name</key>
						<string>全城</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>1</integer>
						<key>name</key>
						<string>500m</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>2</integer>
						<key>name</key>
						<string>1000m</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>郑东新区</string>
				<key>secondDataArray</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>name</key>
						<string>全部</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>1</integer>
						<key>name</key>
						<string>CBD</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>2</integer>
						<key>name</key>
						<string>宝龙城市广场</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>口味</string>
		<key>firstDataArray</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>菜系</string>
				<key>secondDataArray</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>name</key>
						<string>全部</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>1</integer>
						<key>name</key>
						<string>川菜</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>2</integer>
						<key>name</key>
						<string>京菜</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>3</integer>
						<key>name</key>
						<string>鲁菜</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>餐厅类型</string>
				<key>secondDataArray</key>
				<array>
					<dict>
						<key>id</key>
						<integer>0</integer>
						<key>name</key>
						<string>全部</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>1</integer>
						<key>name</key>
						<string>中餐</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>2</integer>
						<key>name</key>
						<string>西餐</string>
					</dict>
					<dict>
						<key>id</key>
						<integer>3</integer>
						<key>name</key>
						<string>火锅</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>排序</string>
		<key>firstDataArray</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>name</key>
				<string>按好评</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>name</key>
				<string>价格由低到高</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>2</integer>
				<key>name</key>
				<string>价格由高到低</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>3</integer>
				<key>name</key>
				<string>按人气排序</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>4</integer>
				<key>name</key>
				<string>按中体评价排序</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
